@using WebApp.DAL.Entity;
@model WebApp.Areas.Admin.ViewModels.TakeMeasurementVM
@{
    ViewBag.Title = "Take Measurement";
}
<link href="~/Content/css/jquery.autocomplete.css" rel="stylesheet" />
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-11 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Customer management</span>
        <h3 class="page-title">Take Measurement</h3>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
        <button type="button" id="close" class="btn btn-white fa-pull-right" title="Click to close all">close</button>
    </div>
</div>
@using (Html.BeginForm("TakeMeasurement", "Customer", FormMethod.Post, new { area = "Admin", @class = "validate", id = "WaiverForm", novalidate = true }))
{
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header">
                    <div class="m-0">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="socialGitHub">Customer number or Phone number</label>
                                <div class="input-group input-group-seamless">
                                    <input type="text" class="form-control" id="Searchby" placeholder="Enter Customer number or Phone number" required />
                                    <div class="invalid-feedback">
                                        Customer number or phone number required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="Search">-</label>
                                <div class="input-group input-group-seamless">
                                    <button class="btn btn-primary" id="Search">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <fieldset>
                    <legend class="text-center">Customer Information</legend>
                    <div id="customerInfoLoader" style="display:none" class="col text-center">
                        <img src="~/Content/images/Spinner.gif" style="width:50px;height:50px" />
                    </div>
                    <div id="customerinfoDiv">

                        <table class="file-manager file-manager-list2 d-none table-responsive">
                            <thead class="bg-light">
                                <tr>
                                    <th scope="col" class="border-0">Name</th>
                                    <th scope="col" class="border-0">Gender</th>
                                    <th scope="col" class="border-0">Age</th>
                                    <th scope="col" class="border-0">Phone number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="Customername"></td>
                                    <td id="Customergender"></td>
                                    <td id="Customerage"></td>
                                    <td id="Customerphonenumber"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <div class="m-0">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="Gender">Gender</label>
                                <div class="input-group input-group-seamless">
                                    @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewBag.GenderList, "-- Select gender --", new { @class = "form-control", required = true })
                                    <div class="invalid-feedback">
                                        Gender required
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(x => x.CustomerUniqueID, new { id = "CustomerUID" })
                            <div class="form-group col-md-4">
                                <label for="ClothType">ClothType</label>
                                <div class="input-group input-group-seamless">
                                    @Html.DropDownListFor(model => model.ClothTypeID, (IEnumerable<SelectListItem>)ViewBag.ClothType, "-- Select Cloth Type --", new { @class = "form-control", required = true })
                                    <div class="invalid-feedback">
                                        Cloth Type required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Quantity">Quantity</label>
                                <div class="input-group input-group-seamless">
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", placeholder = "Quantity" } })
                                    <div class="invalid-feedback">
                                        Quantity required
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit">
                    Save
                </button>
            </div>
            <br />
        </div>
    </div>
}

@section Scripts{
    <script src="~/Areas/Admin/Scripts/Deposite.js"></script>
}
